:root {
    --footer : linear-gradient(to top, #7e7fd8, #589dda);
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}


.page-inner {
  animation-duration: 1s; /* Durasi animasi */
  animation-timing-function: ease-out; /* Easing function */
}

@keyframes bounceInDown {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
